# Created by .ignore support plugin (hsz.mobi)

# Ignore pycharm configuration files.
.idea/
*.ini
*.pyc

# Ignore virtualenv folder.
venv/

# Macs are annoying.
.DS_STORE

# Ignore RethinkDB stuff.
rethinkdb_data/